/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografía base */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

/* Contenedor central */
.container {
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* Encabezado */
header {
    text-align: center;
    align-items: center;
    background-color: #004080;
    color: white;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Secciones */
section {
    padding: 60px 0;
}

/* Ciudades */
.ciudades-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.ciudades {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
a{
    text-decoration: none;
    color: black;
}

/* Contacto */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input,
form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #004080;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: #003366;
}
